{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "defaults"
        },
        "useBuiltIns": "usage",
        "corejs": { "version": 3, "proposals": true }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-styled-components", { "ssr": false, "displayName": false }]
      ]
    }
  }
}